bootstrap_url: http://{{ hostvars[groups['bootstrap'][0]].ansible_default_ipv4.address }}
cluster_name: Mesosphere-Training
exhibitor_storage_backend: static
master_discovery: static
master_list:
{% for host in groups['masters'] %}
- {{ hostvars[host].ansible_default_ipv4.address }}
{% endfor %}
resolvers:
- 8.8.8.8
- 8.8.4.4
security: {{ dcos_security | default('disabled') }}
ip_detect_public_filename: /genconf/ip-detect-public
enable_ipv6: false
